In [1]:
import numpy as np

In [3]:
np.random.randint(4,8,(4,1))

array([[6],
       [5],
       [5],
       [7]])

In [5]:
import pandas as pd

df = pd.DataFrame({"Apple": np.zeros(13),
                   "Python": np.ones(13),
                   "Veera": np.random.randint(2,11,13)})
df

    Apple  Python  Veera
0     0.0     1.0      2
1     0.0     1.0      7
2     0.0     1.0      2
3     0.0     1.0      7
4     0.0     1.0     10
5     0.0     1.0     10
6     0.0     1.0      3
7     0.0     1.0     10
8     0.0     1.0      3
9     0.0     1.0      6
10    0.0     1.0      3
11    0.0     1.0      3
12    0.0     1.0     10

In [6]:
import numpy as np
df = pd.DataFrame({
    "A": np.random.randint(10,99,15),
    "B": np.random.normal(40,2,15).round(2),
    "C": np.random.normal(40,2,15).round(2),
    "D": np.random.choice(['a','b','c'], 15)
})

In [7]:
df

     A      B      C  D
0   66  40.00  40.21  c
1   70  43.92  37.87  a
2   15  39.67  38.37  b
3   96  38.32  42.44  a
4   91  42.54  40.37  c
5   76  40.94  36.18  a
6   58  39.72  42.23  c
7   85  41.81  38.09  c
8   87  36.69  37.61  c
9   63  41.69  35.80  a
10  63  41.52  43.67  a
11  58  41.91  42.58  b
12  91  36.12  43.57  a
13  52  43.11  35.46  c
14  20  35.98  39.48  a